{% extends "ecohub/base.html" %}

{% block title %}
EcoHub - {{ project.title }}
{% endblock %}

{% block body %}
    {% include 'ecohub/includes/projectnav.html' %}
    <div class="card blog" style="width: 80%;">
        <div class="card-body">
            <h2 class="card-title">{{ project.title }}</h2>
            <h6 class="card-subtitle mb-2 text-muted">{{ project.published }}</h6>
            <h6>{{ project.owner }}</h6>
            <hr>
            <p><h5>Funds: ${{ project.current_funds }} / ${{ project.target_funds }}</h5></p>
            {% if contributions %}
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne" aria-expanded="false">
                                Contributions
                            </button>
                            </h2>
                        </div>
                    
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">                            
                            <ul class="list-group">
                                {% for contribution in contributions %}
                                    <li class="list-group-item">{{ contribution.donated }} - ${{ contribution.amount }} from {{ contribution.contributor.first_name }} {{ contribution.contributor.last_name }} </li>
                                {% endfor %}
                            </ul>     
                        </div>
                    </div>    
                </div>
            {% endif %}
            <hr>
            <p><a href="{{ project.attachment.url }}" class="btn btn-primary" download="{{ project.title }}">Download attachment</a></p>
            <p class="card-text">{{ project.abstract|safe }}</p>
            <hr>
            <p class="card-text">{{ project.description|safe }}</p>
            <hr>
            <p>
                <a href="{% url 'support_project' project.id %}" class="btn btn-primary project-btn">Support Project</a>
                <a href="{% url 'contact_owner' project.id %}" class="btn btn-primary project-btn">Connect with owner</a>
            </p>
        </div>                    
    </div>
{% endblock %}