<nav class="navbar navbar-expand-lg navbar-light bg-light">  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects' %}">All Projects</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                        <a class="dropdown-item" href="{% url 'project_category' category.id %}">{{ category }}</a>
                    {% endfor %}
                </div>
            </li>      
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myprojects' %}">My Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'start_project' %}">Start Project</a>
            </li>                            
        </ul>
        {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    You must be logged in to view this page. Please login or register.
                </li>
            </ul>
        {% endif %}
    </div>
</nav>